<a href="https://colab.research.google.com/github/rafaeldjsm/Matematica/blob/main/beecrowd_1435.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
def matx(n):
    l = ""
    # linha
    for i in range(1,n+1):
        l2 = []
        #coluna
        for j in range(1,n+1):
            lsr = 1 if j != n else 0
            l += str(min(i,n+1-i,j,n+1-j)).rjust(3)+" "*lsr
        l+="\n"
    return l

In [16]:
def pmat():
    # Lista para guardar os inputs
    l = []
    dim = int(input(""))
    while dim != 0:
        l.append(dim)
        dim = int(input(""))
    for k in l:
        if k != l[-1]:
            print(matx(k))
        else:
            print(matx(k))

In [17]:
pmat()

1
2
3
4
5
0
  1

  1   1
  1   1

  1   1   1
  1   2   1
  1   1   1

  1   1   1   1
  1   2   2   1
  1   2   2   1
  1   1   1   1

  1   1   1   1   1
  1   2   2   2   1
  1   2   3   2   1
  1   2   2   2   1
  1   1   1   1   1

In [18]:
while True:
    try:
        N = int(input())

        if(N == 0):
            break

        for i in range(N):
            print(f'{i + 1:3d}', end='')
            for j in range(1, N):
                print(
                    f'{(abs(i - j) + 1):4d}', end='')
            print('')
        print('')
    except EOFError:
        break

1
  1

2
  1   2
  2   1

3
  1   2   3
  2   1   2
  3   2   1

4
  1   2   3   4
  2   1   2   3
  3   2   1   2
  4   3   2   1

5
  1   2   3   4   5
  2   1   2   3   4
  3   2   1   2   3
  4   3   2   1   2
  5   4   3   2   1

0