<a href="https://colab.research.google.com/github/rafaeldjsm/Matematica/blob/main/beecrowd_1435.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
def matx(n):
    l = ""
    # linha
    for i in range(1,n+1):
        l2 = []
        #coluna
        for j in range(1,n+1):
            lsr = 1 if j != n else 0
            l += str(min(i,n+1-i,j,n+1-j)).rjust(3)+" "*lsr
        l+="\n"
    return l

In [16]:
def pmat():
    # Lista para guardar os inputs
    l = []
    dim = int(input(""))
    while dim != 0:
        l.append(dim)
        dim = int(input(""))
    for k in l:
        if k != l[-1]:
            print(matx(k))
        else:
            print(matx(k))

In [17]:
pmat()

1
2
3
4
5
0
  1

  1   1
  1   1

  1   1   1
  1   2   1
  1   1   1

  1   1   1   1
  1   2   2   1
  1   2   2   1
  1   1   1   1

  1   1   1   1   1
  1   2   2   2   1
  1   2   3   2   1
  1   2   2   2   1
  1   1   1   1   1

In [7]:
st1 = '''
  1
 
  1   1
  1   1
 
  1   1   1
  1   2   1
  1   1   1
   
  1   1   1   1
  1   2   2   1
  1   2   2   1
  1   1   1   1
 
  1   1   1   1   1
  1   2   2   2   1
  1   2   3   2   1
  1   2   2   2   1
  1   1   1   1   1'''

In [8]:
st2 = '''
  1 

  1   1 
  1   1 

  1   1   1 
  1   2   1 
  1   1   1 

  1   1   1   1 
  1   2   2   1 
  1   2   2   1 
  1   1   1   1 

  1   1   1   1   1 
  1   2   2   2   1 
  1   2   3   2   1 
  1   2   2   2   1 
  1   1   1   1   1 '''

In [9]:
st1 == st2

False